In [28]:
import pandas as pd
import numpy as np
import pickle

from matplotlib import pyplot as plt
import seaborn as sns

In [348]:
with open('marathon_data_sex.pkl', 'rb') as file:
    df = pickle.load(file)

In [ ]:
###EDA CHECK####
#Missing values
#All values in the right format
#Any repeats

In [199]:
df.head()

,name,team,age_group,bib_num,state,place_mw,place_ac,place_total,time_net,time_gun,...,40K_min_per_mile,25_2_miles_time_of_day,25_2_miles_time,25_2_miles_time_diff,25_2_miles_min_per_mile,26_2_miles_time_of_day,26_2_miles_time,26_2_miles_time_diff,26_2_miles_min_per_mile,sex
0,"A Desouza, Renato",–,50-54,9508,HI,9102,1196,13896,03:48:15,03:49:00,...,10:05,01:55:28PM,03:29:43,04:44,13:44,02:14:01PM,03:48:15,18:32,18:11,M
1,"A Hayes, Kimberly",–,50-54,28861,MA,10172,1093,24147,05:26:24,05:31:26,...,14:27,04:33:09PM,05:13:05,05:00,14:30,04:46:28PM,05:26:24,13:19,13:04,W
2,"A Tripp, James",–,45-49,28125,MA,–,–,–,06:40:28,06:46:35,...,None,None,None,None,None,06:01:37PM,06:40:28,18:26,18:06,NaN
3,"A. Ferreira Filho, Martin",–,40-44,2134,–,1821,259,1911,02:55:07,02:55:57,...,07:27,12:48:33PM,02:47:41,02:49,08:10,12:55:58PM,02:55:07,07:26,07:18,M
4,"Aagard, Aubrie",–,18-39,12768,UT,1755,1353,8033,03:24:26,03:28:12,...,08:18,01:44:59PM,03:16:13,03:10,09:11,01:53:13PM,03:24:26,08:13,08:04,W

In [200]:
df.columns

Index(['name', 'team', 'age_group', 'bib_num', 'state', 'place_mw', 'place_ac',
       'place_total', 'time_net', 'time_gun', 'mile_split', 'race_status',
       'last_split', '5K_time_of_day', '5K_time', '5K_time_diff',
       '5K_min_per_mile', '10K_time_of_day', '10K_time', '10K_time_diff',
       '10K_min_per_mile', '15K_time_of_day', '15K_time', '15K_time_diff',
       '15K_min_per_mile', '20K_time_of_day', '20K_time', '20K_time_diff',
       '20K_min_per_mile', 'HALF_time_of_day', 'HALF_time', 'HALF_time_diff',
       'HALF_min_per_mile', '25K_time_of_day', '25K_time', '25K_time_diff',
       '25K_min_per_mile', '30K_time_of_day', '30K_time', '30K_time_diff',
       '30K_min_per_mile', '20_miles_time_of_day', '20_miles_time',
       '20_miles_time_diff', '20_miles_min_per_mile', '21_miles_time_of_day',
       '21_miles_time', '21_miles_time_diff', '21_miles_min_per_mile',
       '35K_time_of_day', '35K_time', '35K_time_diff', '35K_min_per_mile',
       '23_miles_time_of_day', '23_miles_time', '23_miles_time_diff',
       '23_miles_min_per_mile', '24_miles_time_of_day', '24_miles_time',
       '24_miles_time_diff', '24_miles_min_per_mile', '40K_time_of_day',
       '40K_time', '40K_time_diff', '40K_min_per_mile',
       '25_2_miles_time_of_day', '25_2_miles_time', '25_2_miles_time_diff',
       '25_2_miles_min_per_mile', '26_2_miles_time_of_day', '26_2_miles_time',
       '26_2_miles_time_diff', '26_2_miles_min_per_mile', 'sex'],
      dtype='object')

In [364]:
df.head()

,index,name,team,age_group,bib_num,state,place_mw,place_ac,place_total,time_net,time_gun,mile_split,race_status,last_split,5K_time_of_day,5K_time,5K_time_diff,5K_min_per_mile,10K_time_of_day,10K_time,10K_time_diff,10K_min_per_mile,15K_time_of_day,15K_time,15K_time_diff,15K_min_per_mile,20K_time_of_day,20K_time,20K_time_diff,20K_min_per_mile,HALF_time_of_day,HALF_time,HALF_time_diff,HALF_min_per_mile,25K_time_of_day,25K_time,25K_time_diff,25K_min_per_mile,30K_time_of_day,30K_time,30K_time_diff,30K_min_per_mile,20_miles_time_of_day,20_miles_time,20_miles_time_diff,20_miles_min_per_mile,21_miles_time_of_day,21_miles_time,21_miles_time_diff,21_miles_min_per_mile,35K_time_of_day,35K_time,35K_time_diff,35K_min_per_mile,23_miles_time_of_day,23_miles_time,23_miles_time_diff,23_miles_min_per_mile,24_miles_time_of_day,24_miles_time,24_miles_time_diff,24_miles_min_per_mile,40K_time_of_day,40K_time,40K_time_diff,40K_min_per_mile,25_2_miles_time_of_day,25_2_miles_time,25_2_miles_time_diff,25_2_miles_min_per_mile,26_2_miles_time_of_day,26_2_miles_time,26_2_miles_time_diff,26_2_miles_min_per_mile,sex,time_net_hr,time_gun_hr,mile_split_min
0,0,"A Desouza, Renato",NaN,50-54,9508.0,HI,9102.0,1196.0,13896.0,0 days 03:48:15,0 days 03:49:00,08:43,Finished,Finish Net,1900-01-01 10:48:26,22.666667,0 days 00:22:40,7.300000,1900-01-01 11:11:40,45.916667,0 days 00:23:15,7.483333,1900-01-01 11:35:47,70.033333,0 days 00:24:07,7.766667,1900-01-01 12:00:11,94.416667,0 days 00:24:23,7.850000,1900-01-01 12:05:28,99.700000,0 days 00:05:17,7.750000,1900-01-01 12:27:41,121.933333,0 days 00:22:14,9.166667,1900-01-01 12:53:24,147.650000,0 days 00:25:43,8.283333,1900-01-01 13:05:19,159.566667,0 days 00:11:55,8.783333,1900-01-01 13:14:45,169.000000,0 days 00:09:26,9.433333,1900-01-01 13:21:06,175.350000,0 days 00:06:21,8.500000,1900-01-01 13:32:24,186.633333,0 days 00:11:17,9.066667,1900-01-01 13:42:04,196.316667,0 days 00:09:41,9.683333,1900-01-01 13:50:44,204.983333,0 days 00:08:40,10.083333,1900-01-01 13:55:28,209.716667,0 days 00:04:44,13.733333,1900-01-01 14:14:01,228.250000,0 days 00:18:32,18.183333,M,3.804167,3.816667,8.716667
1,1,"A Hayes, Kimberly",NaN,50-54,28861.0,MA,10172.0,1093.0,24147.0,0 days 05:26:24,0 days 05:31:26,12:27,Finished,Finish Net,1900-01-01 11:52:02,31.966667,0 days 00:31:58,10.300000,1900-01-01 12:25:37,65.550000,0 days 00:33:35,10.816667,1900-01-01 13:01:24,101.333333,0 days 00:35:47,11.516667,1900-01-01 13:41:10,141.100000,0 days 00:39:46,12.800000,1900-01-01 13:49:24,149.333333,0 days 00:08:14,12.083333,1900-01-01 14:22:38,182.566667,0 days 00:33:14,13.716667,1900-01-01 15:05:31,225.450000,0 days 00:42:53,13.800000,1900-01-01 15:23:19,243.250000,0 days 00:17:48,13.100000,1900-01-01 15:37:29,257.416667,0 days 00:14:10,14.166667,1900-01-01 15:46:30,266.433333,0 days 00:09:01,12.050000,1900-01-01 16:03:16,283.200000,0 days 00:16:46,13.450000,1900-01-01 16:15:43,295.650000,0 days 00:12:27,12.450000,1900-01-01 16:28:09,308.083333,0 days 00:12:26,14.450000,1900-01-01 16:33:09,313.083333,0 days 00:05:00,14.500000,1900-01-01 16:46:28,326.400000,0 days 00:13:19,13.066667,W,5.440000,5.523889,12.450000
3,3,"A. Ferreira Filho, Martin",NaN,40-44,2134.0,NaN,1821.0,259.0,1911.0,0 days 02:55:07,0 days 02:55:57,06:41,Finished,Finish Net,1900-01-01 10:19:47,18.933333,0 days 00:18:56,6.100000,1900-01-01 10:39:03,38.200000,0 days 00:19:16,6.216667,1900-01-01 10:58:26,57.583333,0 days 00:19:23,6.250000,1900-01-01 11:18:13,77.366667,0 days 00:19:47,6.366667,1900-01-01 11:22:33,81.683333,0 days 00:04:19,6.333333,1900-01-01 11:39:03,98.183333,0 days 00:16:30,6.816667,1900-01-01 12:00:15,119.383333,0 days 00:21:12,6.833333,1900-01-01 12:09:34,128.700000,0 days 00:09:19,6.866667,1900-01-01 12:16:36,135.750000,0 days 00:07:03,7.050000,1900-01-01 12:21:42,140.850000,0 days 00:05:06,6.816667,1900-01-01 12:30:21,149.483333,0 days 00:08:38,6.933333,1900-01-01 12:39:20,158.466667,0 days 00:08:59,8.983333,1900-01-01 12:45:43,164.866667,0 days 00:06:24,7.450000,1900-01-01 12:48:33,167.683333,0 days 00:02:49,8.166667,1900-01-01 12:55:58,175.116667,0 days 00:07:26,7.300000,M,2.918611,2.932500,6.683333
4,4,"Aagard, Aubrie",NaN,18-39,12768.0,UT,1755.0,1353.0,8033.0,0 days 03:24:26,0 days 03:28:12,07:48,Finished,Finish Net,1900-01-01 10:50:46,22.000000,0 days 00:22:00,7.083333,1900-01-01 11:13:33,44.783333,0 days 00:22:47,7.333333,1900-01-01 11:36:48,68.033333,0 days 00:23:15,7.483333,1900-01-01 12:00:23,91.600000,0 days 00:23:34,7.600000,1900-01-01 12:05:32,96.750000,0 days 00:05:09,7.566667,1900-01-01 12:24:23,115.616667,0 days 00:18:52,7.783333,1900-01-01 12:49:40,140.900000,0 days 00:25:17,8.150000,1900-01-01 13:00:51,152.083333,0 days 00:11:11,8.233333,1900-01-01 13:09:42,160.916667,0 days 00:08:50,8.833333,1900-01-01 13:15:48,167.033333,0 days 00:06:07,8.183333,1900-01-01 13:26:13,177.433333,0 days 00:10:24,8.350000,1900-01-01 13:34:41,185.916667,0 days 00:08:29,8.483333,1900-01-01 13:41:49,193.050000,0 days 00:07:08,8.300000,1900-01-01 13:44:59,196.216667,0 days 00:03:10,9.183333,1900-01-01 13:53:13,204.433333,0 days 00:08:13,8.066667,W,3.407222,3.470000,7.800000
5,5,"Aakre, Christopher",NaN,18-39,2788.0,MN,1583.0,1244.0,1658.0,0 days 02:53:23,0 days 02:55:26,06:37,Finished,Finish Net,1900-01-01 10:21:16,19.216667,0 days 00:19:13,6.200000,1900-01-01 10:40:47,38.716667,0 days 00:19:30,6.283333,1900-01-01 11:00:39,58.583333,0 days 00:19:52,6.400000,1900-01-01 11:21:12,79.133333,0 days 00:20:33,6.616667,1900-01-01 11:25:33,83.500000,0 days 00:04:22,6.416667,1900-01-01 11:41:39,99.583333,0 days 00:16:05,6.633333,1900-01-01 12:03:00,120.933333,0 days 00:21:21,6.883333,1900-01-01 12:12:22,130.300000,0 days 00:09:22,6.900000,1900-01-01 12:19:36,137.550000,0 days 00:07:15,7.250000,1900-01-01 12:24:36,142.533333,0 days 00:04:59,6.666667,1900-01-01 12:33:13,151.150000,0 days 00:08:37,6.916667,1900-01-01 12:39:58,157.900000,0 days 00:06:45,6.750000,1900-01-01 12:45:55,163.866667,0 days 00:05:58,6.933333,1900-01-01 12:48:39,166.583333,0 days 00:02:43,7.883333,1900-01-01 12:55:27,173.383333,0 days 00:06:48,6.683333,M,2.889722,2.923889,6.616667

In [322]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29380 entries, 0 to 29379
Data columns (total 74 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     29380 non-null  object
 1   team                     29380 non-null  object
 2   age_group                29380 non-null  object
 3   bib_num                  29380 non-null  object
 4   state                    29380 non-null  object
 5   place_mw                 29380 non-null  object
 6   place_ac                 29380 non-null  object
 7   place_total              29380 non-null  object
 8   time_net                 29380 non-null  object
 9   time_gun                 29380 non-null  object
 10  mile_split               29380 non-null  object
 11  race_status              29380 non-null  object
 12  last_split               29380 non-null  object
 13  5K_time_of_day           26551 non-null  object
 14  5K_time                  29349 non-null  object
 15  5K_time_diff             29349 non-null  object
 16  5K_min_per_mile          29349 non-null  object
 17  10K_time_of_day          26456 non-null  object
 18  10K_time                 29254 non-null  object
 19  10K_time_diff            29254 non-null  object
 20  10K_min_per_mile         29254 non-null  object
 21  15K_time_of_day          26383 non-null  object
 22  15K_time                 29181 non-null  object
 23  15K_time_diff            29181 non-null  object
 24  15K_min_per_mile         29181 non-null  object
 25  20K_time_of_day          26355 non-null  object
 26  20K_time                 29153 non-null  object
 27  20K_time_diff            29153 non-null  object
 28  20K_min_per_mile         29153 non-null  object
 29  HALF_time_of_day         26222 non-null  object
 30  HALF_time                29020 non-null  object
 31  HALF_time_diff           29020 non-null  object
 32  HALF_min_per_mile        29020 non-null  object
 33  25K_time_of_day          26088 non-null  object
 34  25K_time                 28886 non-null  object
 35  25K_time_diff            28886 non-null  object
 36  25K_min_per_mile         28886 non-null  object
 37  30K_time_of_day          26105 non-null  object
 38  30K_time                 28903 non-null  object
 39  30K_time_diff            28903 non-null  object
 40  30K_min_per_mile         28903 non-null  object
 41  20_miles_time_of_day     26009 non-null  object
 42  20_miles_time            28807 non-null  object
 43  20_miles_time_diff       28807 non-null  object
 44  20_miles_min_per_mile    28807 non-null  object
 45  21_miles_time_of_day     26016 non-null  object
 46  21_miles_time            28814 non-null  object
 47  21_miles_time_diff       28814 non-null  object
 48  21_miles_min_per_mile    28814 non-null  object
 49  35K_time_of_day          25982 non-null  object
 50  35K_time                 28780 non-null  object
 51  35K_time_diff            28780 non-null  object
 52  35K_min_per_mile         28780 non-null  object
 53  23_miles_time_of_day     25878 non-null  object
 54  23_miles_time            28676 non-null  object
 55  23_miles_time_diff       28676 non-null  object
 56  23_miles_min_per_mile    28676 non-null  object
 57  24_miles_time_of_day     25921 non-null  object
 58  24_miles_time            28719 non-null  object
 59  24_miles_time_diff       28719 non-null  object
 60  24_miles_min_per_mile    28719 non-null  object
 61  40K_time_of_day          25912 non-null  object
 62  40K_time                 28710 non-null  object
 63  40K_time_diff            28710 non-null  object
 64  40K_min_per_mile         28710 non-null  object
 65  25_2_miles_time_of_day   25909 non-null  object
 66  25_2_miles_time          28707 non-null  object
 67  25_2_miles_time_diff     28707 non-null  object
 68  25_2_miles_min_per_mile  28707 non-null  object
 69  26_2_miles_time_of_day   26140 non-null  object
 70  26_2_miles_time          26140 non-null  object
 71  26_2_miles_time_diff     26140 non-null  object
 72  26_2_miles_min_per_mile  26140 non-null  object
 73  sex                      25732 non-null  object
dtypes: object(74)
memory usage: 16.6+ MB

In [323]:
df.shape

(29380, 74)

In [ ]:
###Data Cleaning
# ['name', 'team', 'age_group', 'bib_num', 'state', 'place_mw', 'place_ac',
#        'place_total', 'time_net', 'time_gun', 'mile_split', 'race_status',
#        'last_split', '5K_time_of_day', '5K_time', '5K_time_diff',
#        '5K_min_per_mile', '10K_time_of_day', '10K_time', '10K_time_diff',
#        '10K_min_per_mile', '15K_time_of_day', '15K_time', '15K_time_diff',
#        '15K_min_per_mile', '20K_time_of_day', '20K_time', '20K_time_diff',
#        '20K_min_per_mile', 'HALF_time_of_day', 'HALF_time', 'HALF_time_diff',
#        'HALF_min_per_mile', '25K_time_of_day', '25K_time', '25K_time_diff',
#        '25K_min_per_mile', '30K_time_of_day', '30K_time', '30K_time_diff',
#        '30K_min_per_mile', '20_miles_time_of_day', '20_miles_time',
#        '20_miles_time_diff', '20_miles_min_per_mile', '21_miles_time_of_day',
#        '21_miles_time', '21_miles_time_diff', '21_miles_min_per_mile',
#        '35K_time_of_day', '35K_time', '35K_time_diff', '35K_min_per_mile',
#        '23_miles_time_of_day', '23_miles_time', '23_miles_time_diff',
#        '23_miles_min_per_mile', '24_miles_time_of_day', '24_miles_time',
#        '24_miles_time_diff', '24_miles_min_per_mile', '40K_time_of_day',
#        '40K_time', '40K_time_diff', '40K_min_per_mile',
#        '25_2_miles_time_of_day', '25_2_miles_time', '25_2_miles_time_diff',
#        '25_2_miles_min_per_mile', '26_2_miles_time_of_day', '26_2_miles_time',
#        '26_2_miles_time_diff', '26_2_miles_min_per_mile'

In [349]:
##Replace all blank values with None type
df.replace('–',np.NaN, inplace=True)

In [350]:
def replace_negative_with_nan(value):
    if isinstance(value, str) and value.startswith('-'):
        return np.nan
    return value
df = df.map(replace_negative_with_nan)

In [351]:
#Remove all entries where the race was not completed
df['race_status'].unique()
df = df[df['race_status'] == 'Finished'].reset_index()

In [352]:
#Remove all entries where the participant was disqualified or do not have a place
df = df[df['place_total'] != 'DSQ']
df = df[~df['place_total'].isna()]

#Convert the column type to integer
df['place_total'] = df['place_total'].astype('float')
df['place_total'].describe()

count    25650.000000
mean     12777.129825
std       7377.595608
min          1.000000
25%       6393.250000
50%      12781.500000
75%      19162.750000
max      25550.000000
Name: place_total, dtype: float64

In [353]:
#Convert object type to int type for place_ac
df['place_ac'] = df['place_ac'].astype('float')
#df['place_ac'].describe()

In [354]:
#Getting rid of the letter included in one bib number
df['bib_num'] = df['bib_num'].str.replace('P','')
df['bib_num'] = df['bib_num'].astype('float')

In [355]:
#Convert object type to int type for place_mw
df['place_mw'] = df['place_mw'].astype('float')

In [356]:
#Final times updated to a timedelta type
df['time_net'] = pd.to_timedelta(df['time_net'],errors='coerce')
df['time_net_hr']  = df['time_net'] / np.timedelta64(1, 's') / 3600

In [357]:
df['time_gun'] = pd.to_timedelta(df['time_gun'],errors='coerce')
df['time_gun_hr']  = df['time_gun'] / np.timedelta64(1, 's') / 3600

In [358]:
df['mile_split_min'] = (pd.to_timedelta('00:' + df['mile_split']) / np.timedelta64(1, 's') / 60).astype('float')
df['mile_split_min'].head()

0     8.716667
1    12.450000
3     6.683333
4     7.800000
5     6.616667
Name: mile_split_min, dtype: float64

In [359]:
#Get all the race times into the correct format
race_elements_list = ['5K','10K','15K','20K','HALF','25K','30K','20_miles','21_miles','35K','23_miles','24_miles','40K','25_2_miles','26_2_miles']

In [360]:
def normalize_time_format(time_str):
    if pd.isna(time_str):
        return time_str
    parts = time_str.split(':')
    if len(parts) == 2:
        # If the format is "mm:ss", prepend "00:"
        return '00:' + time_str
    return time_str

In [361]:
for i in race_elements_list:
    df[i+ '_time_of_day'] = pd.to_datetime(df[i+ '_time_of_day'],format='%I:%M:%S%p')
    df[i+ '_time_diff'] = df[i+'_time_diff'].apply(normalize_time_format)
    df[i+ '_time_diff'] = pd.to_timedelta(df[i+ '_time_diff'])
    df[i+ '_min_per_mile'] = df[i+'_min_per_mile'].apply(normalize_time_format)
    df[i+ '_min_per_mile'] = (pd.to_timedelta(df[i+ '_min_per_mile']) / np.timedelta64(1, 's') / 60).astype('float')
    df[i+ '_time'] = (pd.to_timedelta(df[i+ '_time']) / np.timedelta64(1, 's') / 60).astype('float')

In [363]:
with open('marathon_data_clean.pkl', 'wb') as file:
    pickle.dump(df, file)

In [362]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 25650 entries, 0 to 26149
Data columns (total 78 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    25650 non-null  int64
 1   name                     25650 non-null  object
 2   team                     961 non-null    object
 3   age_group                25603 non-null  object
 4   bib_num                  25650 non-null  float64
 5   state                    18981 non-null  object
 6   place_mw                 25650 non-null  float64
 7   place_ac                 25603 non-null  float64
 8   place_total              25650 non-null  float64
 9   time_net                 25650 non-null  timedelta64[ns]
 10  time_gun                 25650 non-null  timedelta64[ns]
 11  mile_split               25650 non-null  object
 12  race_status              25650 non-null  object
 13  last_split               25650 non-null  object
 14  5K_time_of_day           25593 non-null  datetime64[ns]
 15  5K_time                  25593 non-null  float64
 16  5K_time_diff             25593 non-null  timedelta64[ns]
 17  5K_min_per_mile          25593 non-null  float64
 18  10K_time_of_day          25573 non-null  datetime64[ns]
 19  10K_time                 25573 non-null  float64
 20  10K_time_diff            25546 non-null  timedelta64[ns]
 21  10K_min_per_mile         25546 non-null  float64
 22  15K_time_of_day          25605 non-null  datetime64[ns]
 23  15K_time                 25605 non-null  float64
 24  15K_time_diff            25585 non-null  timedelta64[ns]
 25  15K_min_per_mile         25585 non-null  float64
 26  20K_time_of_day          25605 non-null  datetime64[ns]
 27  20K_time                 25605 non-null  float64
 28  20K_time_diff            25604 non-null  timedelta64[ns]
 29  20K_min_per_mile         25604 non-null  float64
 30  HALF_time_of_day         25566 non-null  datetime64[ns]
 31  HALF_time                25566 non-null  float64
 32  HALF_time_diff           25561 non-null  timedelta64[ns]
 33  HALF_min_per_mile        25561 non-null  float64
 34  25K_time_of_day          25569 non-null  datetime64[ns]
 35  25K_time                 25569 non-null  float64
 36  25K_time_diff            25568 non-null  timedelta64[ns]
 37  25K_min_per_mile         25568 non-null  float64
 38  30K_time_of_day          25629 non-null  datetime64[ns]
 39  30K_time                 25629 non-null  float64
 40  30K_time_diff            25627 non-null  timedelta64[ns]
 41  30K_min_per_mile         25627 non-null  float64
 42  20_miles_time_of_day     25582 non-null  datetime64[ns]
 43  20_miles_time            25582 non-null  float64
 44  20_miles_time_diff       25582 non-null  timedelta64[ns]
 45  20_miles_min_per_mile    25582 non-null  float64
 46  21_miles_time_of_day     25625 non-null  datetime64[ns]
 47  21_miles_time            25625 non-null  float64
 48  21_miles_time_diff       25624 non-null  timedelta64[ns]
 49  21_miles_min_per_mile    25624 non-null  float64
 50  35K_time_of_day          25594 non-null  datetime64[ns]
 51  35K_time                 25594 non-null  float64
 52  35K_time_diff            25594 non-null  timedelta64[ns]
 53  35K_min_per_mile         25594 non-null  float64
 54  23_miles_time_of_day     25609 non-null  datetime64[ns]
 55  23_miles_time            25609 non-null  float64
 56  23_miles_time_diff       25609 non-null  timedelta64[ns]
 57  23_miles_min_per_mile    25609 non-null  float64
 58  24_miles_time_of_day     25595 non-null  datetime64[ns]
 59  24_miles_time            25595 non-null  float64
 60  24_miles_time_diff       25595 non-null  timedelta64[ns]
 61  24_miles_min_per_mile    25595 non-null  float64
 62  40K_time_of_day          25606 non-null  datetime64[ns]
 63  40K_time                 25606 non-null  float64
 64  40K_time_diff            25606 non-null  timedelta64[ns]
 65  40K_min_per_mile         25606 non-null  float64
 66  25_2_miles_time_of_day   25607 non-null  datetime64[ns]
 67  25_2_miles_time          25607 non-null  float64
 68  25_2_miles_time_diff     25607 non-null  timedelta64[ns]
 69  25_2_miles_min_per_mile  25607 non-null  float64
 70  26_2_miles_time_of_day   25650 non-null  datetime64[ns]
 71  26_2_miles_time          25650 non-null  float64
 72  26_2_miles_time_diff     25647 non-null  timedelta64[ns]
 73  26_2_miles_min_per_mile  25647 non-null  float64
 74  sex                      25650 non-null  object
 75  time_net_hr              25650 non-null  float64
 76  time_gun_hr              25650 non-null  float64
 77  mile_split_min           25650 non-null  float64
dtypes: datetime64[ns](15), float64(37), int64(1), object(8), timedelta64[ns](17)
memory usage: 15.5+ MB